.todo {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 4.8rem;
  align-items: center;

  &__add {
    margin-bottom: 1.6rem;
    border-radius: var(--radius);
  }

  &__list {
    border-radius: var(--radius);
    overflow: hidden;

    .todo {
      &:not(:last-child) {
        border-bottom: 1px solid var(--dark-2);
      }
    }
  }

  &__toggle {
    display: grid;
    place-content: center;
    appearance: none;
    background-color: transparent;
    margin: 0;
    margin-left: 2rem;
    font: inherit;
    color: hsl(233, 14%, 35%);
    height: 2rem;
    width: 2rem;
    border: 1px solid hsl(233, 14%, 35%);
    border-radius: 100%;
  }

  form {
    height: 100%;
  }

  input {
    font-family: var(--ff-sans);
    font-size: 1.8rem;
    padding: 0 2rem;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
  }

  &__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 48px 48px;
    gap: 0px 0px;
    height: auto;
    grid-template-areas:
      'item-count clear-completed'
      'filters filters';
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    .clear-completed {
      grid-area: clear-completed;
      text-align: right;
    }

    @media #{$mq-medium} {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: auto 1fr auto;
      grid-template-rows: 48px;
      gap: 1rem;
      grid-template-areas: 'item-count filters clear-completed';
      justify-content: space-between;
      align-items: center;

      height: 4.8rem;
      border-radius: var(--radius);
      font-size: 1.2rem;

      button {
        font-size: 1.1rem;
      }
    }
  }

  &__count {
    grid-area: item-count;
  }

  &__toggle-container {
    grid-area: filters;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .btn-del {
    opacity: 0;
    transition: opacity var(--transition);
  }

  &:hover {
    .btn-del {
      opacity: 1;
      transition: opacity var(--transition);
    }
  }

  p {
    margin-left: 2rem;
    display: inline;
    width: auto;
  }
}
